body {
    background-color: #00f2ff5a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del banner */
.banner {
    text-align: center;
    background-color: #b441ac;
    padding: 50px 0;
    color: white;
}

/* Barra de navegación */
nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

/* Secciones de la página */
section {
    background-color: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#servicios .servicio {
    margin-bottom: 20px;
}

.imagen-empresa img, .imagen-servicio img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.precio {
    font-weight: bold;
    color: #333;
}

/* Pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
